*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(./img/cosmo\ \(2\).avif);
    height: 100dvh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    animation: cosmo 3s infinite linear;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moon{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    background-image: url(./img/moon\ \(2\).jpg);
    animation: cosmo 15s infinite linear;
    box-shadow: 1px 1px 30px 20px rgba(0, 0, 0, 0.534) inset;
}
@keyframes cosmo{
    from{
        background-position: left;
    }
    to{
        background-position: right;
    }
}